<% content_for :head do %>
  <%= javascript_tag("$(document).ready(function(){$('.stars').raty({required:true});});") %>
<% end %>
<script>
;(function($, document) {
$(function() {

  $("#new-star").raty({
    cancel: true,
    half:  true,
    width: 180,
    starHalf: 'star-half<%= "-big" if (SpreeReviews::Config[:star_big] == true) %>.png',
    starOff: 'star-off<%= "-big" if (SpreeReviews::Config[:star_big] == true) %>.png',
    starOn: 'star-on<%= "-big" if (SpreeReviews::Config[:star_big] == true) %>.png',
    path: '/assets/',
    click: function(score, evt) {
      $("#review_rating").val(score);
    }
  });

});
})(jQuery, document);
</script>
<div id="new-star" data-rating="0"></div>
